<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Создать пользователя</p>
<form th:method="POST" th:action="save" th:object="${user}">
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="lastName">Enter lastname</label>
    <input type="text" th:field="*{lastname}" id="lastName"/>
    <br/>
    <label for="age">Enter age</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="username">Enter username</label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="age">Enter password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>

    <label>Roles:
        <input type="checkbox" name="roles"
               th:each="role : ${roles}"
               th:text="${role.getName()}"
               th:value="${role.getId()}"
               th:field="*{roles}"/>

    </label>
    <p></p>
    <input type="submit" value="Create"/>
    <p></p>
        <a href="/logout">EXIT</a>
</form>
</body>
</html>